<div class="col-span-full md:col-span-3 lg:quarter-col">
	<h3 class="text-lg mb-3">{{ 'sylius.ui.your_store'|trans }}</h3>
	<div class="flex flex-col items-start gap-2 opacity-75">
		<a class="link link-hover" href="#">{{ 'sylius.ui.about'|trans }}</a>
		<a class="link link-hover" href="#">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
		<a class="link link-hover" href="#">{{ 'sylius.ui.privacy_policy'|trans }}</a>
		<a class="link link-hover" href="{{ path('sylius_shop_contact_request') }}">{{ 'sylius.ui.contact_us'|trans }}</a>
	</div>
</div>
