{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}
    {{ 'sylius.ui.customer_login'|trans }}
    |
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class='container'>
        <div class="grid grid-cols-12 md:grid-cols-6 gap-2 lg:gap-4 mb-3">
            <div class='col-span-full'>
                {% include '@SyliusShop/Login/_header.html.twig' %}

                {{ sylius_template_event('sylius.shop.login.after_content_header') }}
            </div>
            {{ sylius_template_event('sylius.shop.login.main_column', _context) }}
            {{ sylius_template_event('sylius.shop.login.register_column', _context) }}
        </div>
    </section>
{% endblock %}
