{% import '@SyliusShop/Common/Macro/breadcrumbs.html.twig' as breadcrumbs %}
{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}
	{{ 'sylius.ui.write_your_own_review'|trans }}
	|
	{{ parent() }}
{% endblock %}

{% set product = product_review.reviewSubject %}

{% block content %}
    <div class="container">
        {% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' with {crumbs: [{label: 'sylius.ui.write_your_own_review'|trans}]} %}

        {{ headers.default('sylius.ui.write_your_own_review'|trans) }}

        <div class="flex gap-10 flex-col md:flex-row items-start w-full">
            <div class="text-center mx-auto lg:text-left max-w-sm">
                {{ sylius_template_event('sylius.shop.product_review.create.product_box', _context) }}
            </div>
            <div class="card w-full shadow-2xl bg-base-100">
                <form class="card-body">
                    <p>{{ 'sylius.ui.you_are_reviewing'|trans }}
                        <strong>{{ product.name }}</strong>.</p>

                    {{ sylius_template_event('sylius.shop.product_review.create.before_form', {'product_review': product_review}) }}

                    {{ form_start(form, {'action': path('sylius_shop_product_review_create', {'slug': product.slug, '_locale': product.translation.locale}), 'attr': {'class': 'loadable', 'novalidate': 'novalidate'}}) }}
                    {% include '@SyliusShop/ProductReview/_form.html.twig' %}

                    {{ sylius_template_event('sylius.shop.product_review.create.form', {'product_review': product_review, 'form': form}) }}

                    {{ form_row(form._token) }}

                    <div>

                        <button type="submit" class="btn btn-primary" {{ sylius_test_html_attribute('add') }}>
                            <i class="fa-solid fa-check"></i>
                            {{ 'sylius.ui.add'|trans }}
                        </button>
                    </div>
                    {{ form_end(form, {'render_rest': false}) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
