{% if currencies|length > 1 %}
    <div class="dropdown z-[101]" {{ sylius_test_html_attribute('currency-selector') }}>
        <div tabindex="0" role="button" class="link link-hover text-primary-content" {{ sylius_test_html_attribute('active-currency') }}>
            <i class="fa-solid fa-coins"></i>
            {{ active }}
            <svg width="12px" height="12px" class="h-2 w-2 fill-current opacity-60 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path></svg>
        </div>
        <ul tabindex="0" class="dropdown-content dropdown-header text-nowrap">
            {% for code in currencies %}
                {% if code is not same as(active) %}
                    <li>
                        <a class="dropdown-item-header" href="{{ path('sylius_shop_switch_currency', {'code': code}) }}" {{ sylius_test_html_attribute('available-currency') }}>
                            {{ code }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
