{% extends 'knp_menu.html.twig' %}

{% block root %}
    <span class="text-sm font-bold py-4 border-b border-base w-full flex">
        {{ item.label|trans }}
    </span>
    <ul class="flex flex-col">
        {{ block('list') }}
    </ul>
{% endblock %}

{% block list %}
    {% for item in item.children %}
        {{ block('item') }}
    {% endfor %}
{% endblock %}

{% block item %}
    {% set is_active = item.uri in app.request.pathInfo %}

    <li class="border-b border-base flex group">
        <a class="group-hover:text-primary text-sm py-4 flex items-center justify-between w-full {{ is_active ? 'text-primary' : '' }}" href="{{ item.uri }}">
            {{ item.label|trans }}
            {{ block('icon') }}
        </a>
    </li>
{% endblock %}

{% block icon %}
    {% set icon = item.labelAttribute('icon') %}

    {% if icon %}
        <i class="fa-solid fa-{{ icon is same as('cart') ? 'shopping-cart' : icon }} {{ is_active ? 'text-primary' : '' }}"></i>
    {% endif %}
{% endblock %}
